@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "media";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
}

ul {
  list-style: none;
  display: flex;
}
li {
  padding: 1rem 2rem;
  @include mobile {
    padding: 0 1rem;
  }
}
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    border-bottom: 2px solid white;
  }
}

header {
  width: 100%;
  height: 140px;
  //   height: 100vh;
  //   background-color: #352620;
  background: linear-gradient(rgba(0, 0, 0, 0.8)),
    url(../img/images.jpeg) center/cover no-repeat;

  border: none;
  outline: none;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  @include mobile {
    padding: 0;
    height: 100px;
    align-items: center;
  }
  .all-links {
    display: flex;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  img {
    display: block;
    padding: 1rem;
    height: 100%;
  }

  button {
    display: none;
    @include mobile {
      display: block;
      width: 100px;
      background-color: transparent;
      border: none;

      i {
        color: white;
        font-size: 2rem;
      }
    }
  }

  .social-links {
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    i {
      display: block;
      font-size: 2rem;
    }
  }
  nav {
    margin-left: auto;
    padding: 0 2rem;
  }
}

.product {
  background-color: #352620;
  padding: 4rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: flex-start;

  @include mobile {
    flex-direction: column;
    padding: 0;
  }
  .blob-wrapper {
    height: 100%;
    flex: 1;

    display: grid;
    place-items: center;

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      display: block;
      margin: auto;
    }
  }

  .product-text {
    flex: 1;
    // background: url(../img/splash3.png) center/cover no-repeat, #352620;
    position: relative;
    z-index: 1;
    @include mobile {
      padding: 3rem;
      padding-top: 0;
    }
    .title {
      font-size: clamp(2rem, calc(2rem + 5px), 4rem);
      color: white;
      font-family: fantasy;
    }
  }
}

.splash {
  width: 50vw;
  position: absolute;
  right: 0;
  @include mobile {
    width: 100%;
  }
}

/* From cssbuttons.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
  color: white;
}

.cta a {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 2rem;
  color: white;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cta:hover .hover-underline-animation:after .facebook-link {
  opacity: 1;
}
